@import "./variables";
@import "./mixins";

.main-avatar-wrapper {
  @include center(column);
  margin-bottom: auto;
  margin-top: 50px;
  
  img {
    border-radius: 100%;
    width: 15em;
    height: 15em;
  }
  .avatar-greeting {
    @include viewContainer(auto);
    background-color: $background-highlight-peach;
    border: none;
    font-size: $font-size-large;
    padding: 0 0.5em;
    font-weight: 700;
    color: white;
    max-width: 9em;
    z-index: 0;
    margin-top: -20px;
    #author {
      text-align: right;
    }
  }

  @media screen and (max-width: 600px) {
     display: none;
  }
  
}
