@import "./mixins";

.bulletjournal-calendar {
  @include bulletjournal-div ($background-highlight-green);
}
#calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 89%;
}
h1 {
  @include heading1($background-highlight-green);
}

h2 {
  @include heading2($background-highlight-green);
}
.event-container {
  border: 5px solid #e9e4fa;
  border-radius: 20px;
  height: 16em;
  text-align: left;
  overflow-y: auto;
  background-color: $background-primary;
}
.past {
  .event-title {
    text-decoration: line-through;
    color: gray;
  }
  li {
    text-decoration: line-through;
    color: gray;
  }
}
.event {
  margin: 0.5em;
  font-size: 24px;
  font-weight: 700;
  .event-title {
    margin: 0 0.5em;
  }
  ul {
    margin: 0;
  }
  
}