@import "./variables";
@import "./mixins";

.bulletjournal-habits {
  @include bulletjournal-div ($background-highlight-peach)
}

.bulletjournal-habits h1 {
  @include heading1 ($background-highlight-peach);
}

.bulletjournal-habits p {
  font-size: $font-size-medium;
}

.habitInfo {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .input {
    @include inputFields(75%, $background-primary)
  }
  .inputPrio {
    @include inputFields(15%, $background-primary)
  }
}

#addRoutineButton {
  @include addBtn($background-highlight-peach);

  margin-top: 15px;
  margin-bottom: 80px;
}


#addRoutineButton:hover {
  background-color: #e29884;
}

.myhabitsheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    @include heading2 ($background-highlight-peach);
    margin: 0;
  }
  .input{
    @include inputFields(3em, $background-primary);
    padding: 0.2em 1em
  }
}

.filterPrioSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $background-primary;
  padding: 5px 20px 5px 20px;
  font-family: "Amatic SC";
  font-size: $font-size-medium;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}

//sort-wrapper 
.sort-wrapper {
  color: #8a8a8a;
  text-align: right;
}

//sortStreakButton
#sortStreakButton {
  background-color: $background-primary;
  padding: 5px 20px 5px 20px;
  font-family: "Amatic SC";
  font-size: $font-size-medium;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}

#sortStreakButton:hover {
  background-color: darken($background-primary, 5%);
}

#sortPriorityButton {
  background-color: $background-primary;
  padding: 5px 25px 5px 25px;
  font-family: "Amatic SC";
  font-size: $font-size-medium;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}

#sortPriorityButton:hover {
  background-color: darken($background-primary, 5%);
}

//habitcontainer
.habitContainer {
  border: 5px solid $background-primary;
  border-radius: 20px;
  height: 400px;
  text-align: left;
  overflow-y: auto;
}

//habitList

.title {
  color: $background-highlight-peach;
  text-decoration: underline;
}


.increase {
  border-radius: 50%;
  border: none;
  background-color: $background-highlight-green;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.increase:hover {
  background-color: darken($background-highlight-green, 5%);
}

.decrease {
  border-radius: 50%;
  border: none;
  background-color: $background-highlight-peach;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.decrease:hover {
  background-color: darken($background-highlight-peach, 5%);
}


.reset {
  border-radius: 50%;
  border: none;
  background-color: $background-highlight-blue;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.reset:hover {
  background-color: darken($background-highlight-blue, 5%);
}

.delete {
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.delete:hover {
  color: #ff0000;
}

.habit-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $background-primary;
  margin-bottom: 5px;
}

.info-container {
  font-weight: 800;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  /* Adjust the gap as needed */
}

.button-container {
  text-align: left;
}

.button-container2 {
  margin-right: 30px;
}