@import "./mixins";
@import "./variables";

.index-body {
  background-image: url("/Images/paper-bg.png");
  font-family: "Amatic SC";
  flex-direction: column; // Måste reseta tidigare grejer som ligger på bodyn
  gap: 1em;
}

#index-h1 {
  @include heading1($background-highlight-blue);
}

// AVATAR ---------------------------------------- //
.index-avatar-wrapper {
  img {
    max-width: 18em;
    border-radius: 1000px;
  }
  .index-avatar-greeting {
    position: relative;
    left: -3em;
    top: 1em;
    padding: 0.5em;
    background-color: $background-primary;
    color: $font-color-secondary;
    border-radius: 20px;
    z-index: 1;
    font-size: $font-size-large;
    text-align: center;
    font-weight: 700;
    width: fit-content;
  }
}

// LOGIN --------------------------------------- //

.index-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5em;
}

.index-login-container {
  @include center(column);
  justify-content: start;
  padding: 1em 0;
  gap: 2em;
  min-width: 30em;
  border-radius: 20px;
  background-color: $background-primary;
  input {
    width: 88%;
    border-radius: 20px;
    padding: 1em 2em;
    font-family: "Amatic SC";
    font-size: $font-size-medium;
    font-weight: 700;
    color: $font-color-secondary;
    outline: none;
    border: white;
  }
  .register-button {
    width: 88%;
    padding: 1em;
    border-radius: 20px;
    background-color: $background-highlight-green;
    border: none;
    color: $font-color-primary;
    font-weight: 700;
    font-size: $font-size-medium;
    letter-spacing: 0.1em;
    &:hover {
      background-color: $background-highlight-peach;
    }
  }
  .login-button {
    width: 88%;
    padding: 1em;
    border-radius: 20px;
    background-color: $background-highlight-peach;
    border: none;
    color: $font-color-primary;
    font-weight: 700;
    font-size: $font-size-medium;
    letter-spacing: 0.1em;
    &:hover {
      background-color: $background-highlight-green;
    }
  }
  input:focus {
    // För textinput - tar bort defaultstylingen från webbläsaren
    border: white;
    outline: none;
  }
}

// @media (max-width: 768px) {
//     .index-wrapper {
//       flex-direction: column;
//       justify-content: space-around;
//     }
//   }
