@import "./mixins";
@import "./variables";

.index-body {
  background-image: url("/Images/paper-bg.png");
  font-family: "Amatic SC";
  flex-direction: column; // Måste reseta tidigare grejer som ligger på bodyn
  gap: 1em;
}

#index-h1 {
  @include heading1($background-highlight-blue);
}

// AVATAR ---------------------------------------- //
.index-avatar-wrapper {
  img {
    max-width: 18em;
    border-radius: 1000px;
    
  }
  .index-avatar-greeting {
    position: sticky;
    // left: -3em;
    top: 4em;
    padding: 0.5em;
    background-color: $background-primary;
    color: $font-color-secondary;
    border-radius: 20px;
    z-index: 1;
    font-size: $font-size-large;
    text-align: center;
    font-weight: 700;
    width: fit-content;
    @media #{$mobile}{
      left: 0;
    }
  }
}

// LOGIN --------------------------------------- //

.index-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5em;
}

.index-login-container {
  @include center(column);
  justify-content: start;
  padding: 1em 0;
  gap: 2em;
  min-width: 30em;
  border-radius: 20px;
  background-color: $background-primary;
  @media #{$mobile}{
    min-width: 95%;
  }
  input {
    @include inputFields(88%, $background-primary);
    background-color: rgb(252, 252, 251);
    
  }
  .register-button {
    @include addBtn($background-highlight-green);
    padding: 1em;
    width: 88%;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
  }
  .login-button {
    @include addBtn($background-highlight-peach);
    padding: 1em;
    width: 88%;
    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
  }
  input:focus {
    // För textinput - tar bort defaultstylingen från webbläsaren
    border: white;
    outline: none;
  }
}

