@import "./variables";

@mixin center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin heading1 ($color) {
  font-weight: bolder;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: $color; 
  margin: 0px; 
}

@mixin heading2 ($color) {
  font-size: $font-size-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px #000000;
  text-align: center;
  font-weight: bolder;
  color: $color;
}

@mixin bulletjournal-div ($border-color) {
  font-family: $font-family-main;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid $border-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: $font-color-primary;
}