@import "./variables";
@import "./mixins";

.bulletjournal-todo {
    @include bulletjournal-div ($background-highlight-yellow);

}

.todo-h1 {
    @include heading1 ($background-highlight-yellow);
}
.sort-wrapper {
    #sortDeadlineButton, #sortTimeButton{
        @include sortFilterBtn();
        margin: 0.2em 0;
    }
}
.todo-list-div {
    @include viewContainer(13em);
    #todo-list-ul{
        h2 {
            margin: 0;
        }
        h3 {
            margin: 0.5em;
        }
    }

}

// Försökte styla knapparna som kommer upp i DOM:en 
input[type="button"].removeTodo .editTodo {
    background-color: $background-highlight-yellow;
}

.todo-h2 {
    @include heading2 ($background-highlight-yellow);
    margin: 0.5em 0;
}
.todo-wrapper {
    display: flex;
    .todo-divider-one {
        text-align: left;
        max-width: 50%;
        input {
            
            @include inputFields (80%, $background-primary);
            margin: 0 0 0.3em 0;
        }
        
    }    
    .todo-divider-two {
        text-align: right;
        max-width: 50%;
        input {
            @include inputFields (80%, $background-primary);
            margin: 0 0 0.3em 0;
        }
        select {
            @include inputFields (90%, $background-primary);
            margin: 0 0 0.3em 0;
        }
    }

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include inputFields (90%, $background-primary);
    margin: 0 0 0.3em 0;
}

.filter-container{
    select {
        @include inputFields (25%, $background-primary);
        padding: 10px;
    }
}

select:focus input:focus select:active input:active {
    outline: none;
    border: none;

}


// KNAPP FÖR ATT LÄGGA TILL TO-DO:S 
#add-todo {
    @include addBtn($background-highlight-peach);
}

#filter-todos {
    @include addBtn($background-highlight-peach);
}

.todo-remove {
    border-radius: 50%;
    background-color: lightgray;
    border: lightgray;
    height: 25px;
    width: 25px;
}

.todo-edit {
    border-radius: 50%;
    background-color: #cfdf83;
    border: #cfdf83;
    height: 25px;
    width: 25px;
}

.todo-edit:hover {
    background-color: #c6d57c;
}

.todo-remove:hover {
    color: #ff0000;
}

#todo-list-ul li {

    list-style-type: none;

}