$background-primary: #e9e4fa;
$background-highlight-pink: #feb5c8;
$background-highlight-peach: #eba08b;
$background-highlight-green: #cfdf83;
$background-highlight-purple: #bd69b7;
$background-highlight-blue: #c2e7ef;
$background-highlight-yellow: #f5ff80;

$font-color-primary: #000000;
$font-color-secondary: #8a8a8a;
$font-size-Xlarge: 72px;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-x-small: 12px;

$radius-large: 20px;
$radius-small: 5px;


$font-family-main:  "Amatic SC", sans-serif;

//Mediaqueries
$mobile: "screen and (max-width: 500px)";