/* style.css */
@import "./partials/index";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/habits";
@import "./partials/weatherapp";


 //Sass variables for colors
//   $background-primary: #e9e4fa;
// $background-highlight-pink: #feb5c8;
// $background-highlight-peach: #eba08b;
// $background-highlight-green: #cfdf83;
// $background-highlight-purple: #bd69b7;
// $background-highlight-blue: #c2e7ef;
// $background-highlight-yellow: #f5ff80;
// $font-color-primary: #000000;
// $font-color-secondary: #8a8a8a;
// $font-size-large: 32px;
// $font-size-medium: 20px;
// $font-size-small: 16px;
// $font-size-x-small: 12px;



body {
  font-family: "Amatic SC", sans-serif;
  background-image: url("images/polkadots-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px; // Avstånd mellan bullet journal och avatar m.m.
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  height: 832px;
  box-sizing: border-box;
  color: $font-color-primary;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.menu a {
  text-decoration: none;
  font-size: 36px;
  color: $font-color-primary;
  padding: 50px 10px;
  margin-bottom: 10px;
  writing-mode: vertical-lr;
  /* Rotate text vertically */
  transform: rotate(360deg);
  /* Fix for Firefox and Safari */
  transition: background-color 0.3s ease;

  /* Add a smooth transition effect */
  &:hover {
    background-color: darken(
      $background-highlight-pink,
      10%
    );
    /* Darken the color on hover */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Add a subtle shadow on hover */
  }
}

/* Update the background colors for specific menu items */
.menu a.todo {
  background-color: $background-highlight-yellow;
  border-radius: 0 5px 5px 0;
}

.menu a.calendar {
  background-color: $background-highlight-green;
  border-radius: 0 5px 5px 0;
}

.menu a.habits {
  background-color: $background-highlight-peach;
  border-radius: 0 5px 5px 0;
}

.menu a.timer {
  background-color: $background-highlight-pink;
  border-radius: 0 5px 5px 0;
}

.bulletjournal {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid $font-color-primary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: $font-color-primary;
}

.bulletjournal-todo {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid $background-highlight-yellow;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: $font-color-primary;
}

.bulletjournal-calendar {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid $background-highlight-green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: $font-color-primary;
}

.bulletjournal-habits {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid $background-highlight-peach;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: $font-color-primary;
}

.bulletjournal-timer {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid $background-highlight-pink;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: $font-color-primary;
}

.body h1 {
  color: $font-color-primary;
}

.wrapper p {
  line-height: 1.5;
  font-size: $font-size-medium;
}

.main-avatar-wrapper {
  display: flex;
  margin-bottom: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.avatar-div img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.avatar-greeting {
  background-color: $background-highlight-peach;
  width: 80%;
  height: 45px;
  border-radius: 20px;
  font-size: 32px;
  padding: 25px 25px 25px 25px;
  text-align: center;
  font-weight: bold;
  color: white;
  z-index: 0;
  margin-top: -20px;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
}




/* TO DO - SIDAN */ 

.todo-h1 {
  font-weight: bolder;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: $background-highlight-green; 
  margin: 0px; 
}

.todo-list-div {

  background-color: $background-primary;
  border-radius: 20px; 
  height: 200px; 
  width: 100%; 
  text-align: left;
  // overflow-y: auto; /* FUNKAR EJ */ 

}

// #todo-list-ul li {
//   // max-height: 100px;
//   // overflow-y: auto;
// }

// Försökte styla knapparna som kommer upp i DOM:en 
input[type="button"].removeTodo .editTodo{
  background-color: $background-highlight-green;
}


.todo-h2 {
  font-size: $font-size-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  font-weight: bolder;
  color: $background-highlight-green; 

}

// Wrappers för inputfält ----------------
.todo-divider-one .todo-divider-two {
  display: flex;
  flex-direction: column;
}

.todo-wrapper {
  display: flex;
  justify-content: center;
  gap: 35%; 
  margin-right: 30px; 
}
// ----------------------------------------

.todo-wrapper input {

  background-color: $background-primary;
  font-family: "Amatic SC";
  padding: 15px; 
  width: 100%;  
  font-size: $font-size-medium;
  font-weight: bold;
  border: none; 
  outline: none; 
  outline: $background-primary; 
  border-radius: 20px;
  padding-left: 20px; 


} 

.todo-divider-one option {
  background-color: $background-primary;

}

.bulletjournal-todo select {
  background-color: $background-primary;
  padding: 15px; 
  width: 120%; 
  border-radius: 20px; 
  font-family: "Amatic SC"; 
  font-size: $font-size-medium;
  font-weight: bold;
  color: $font-color-secondary; 
  outline: none; 
  border: none; 
}

select:focus input:focus select:active input:active {
  outline: none; 
  border: none; 

}
// KNAPP FÖR ATT LÄGGA TILL TO-DO:S 
#add-todo {
  background-color: $background-highlight-green;
  padding: 10px; 
  font-family: "Amatic SC";
  font-size: $font-size-medium;
  font-weight: bolder;
  width: 95%; 
  border: none; 
  border-radius: 20px;
}

#add-todo:hover {
  background-color: #bcc97a;
}

#filter-todo-status {
  width: 25%; 
  padding: 5px; 
}

#filter-todos {
  background-color: $background-highlight-green;
  padding: 10px; 
  font-family: "Amatic SC";
  font-size: $font-size-medium;
  font-weight: bolder;
  width: 95%; 
  border: none; 
  border-radius: 20px;

}

#filter-todos:hover {
  background-color: #bcc97a;
}


// KNAPPAR FÖR ATT REDIGERA OCH TA BORT TO-DO:S

.todo-remove {

  border-radius: 50%;
  background-color: lightgray;
  border: lightgray; 
  height: 25px;
  width: 25px;

}

.todo-edit {

  border-radius: 50%;
  background-color: $background-highlight-green;
  border: $background-highlight-green;
  height: 25px;
  width: 25px;

}

.todo-edit:hover {

    background-color: #c6d57c;

}

.todo-remove:hover {

    color: #ff0000;
  
}