/* style.css */
@import "./partials/index";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/habits";
@import "./partials/weatherapp";
@import "./partials/avatar";
@import "./partials/timer";
@import "./partials/calendar";
@import "./partials/todo";




body {

  font-family: "Amatic SC", sans-serif;
  background-image: url("images/polkadots-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  // gap: 100px; // Avstånd mellan bullet journal och avatar m.m.
  @media #{$mobile} {
    flex-direction: column;
    gap: 1em;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 50%;
}



.menu {
  height: 900px;
  box-sizing: border-box;
  color: $font-color-primary;
  display: flex;
  flex-direction: column;
  margin-top: 100px;


  @media screen and (max-width: 600px) {
    right: -100%;

    &.show {
      right: 0;

      /* Set a high z-index for the menu on mobile */
    }
  }



}

.menu a,
.menu .logout button {
  text-decoration: none;
  font-size: $font-size-large;
  color: $font-color-primary;
  padding: 50px 10px;
  margin-bottom: 10px;
  writing-mode: vertical-lr;
  /* Rotate text vertically */
  transform: rotate(360deg);
  /* Fix for Firefox and Safari */
  transition: background-color 0.3s ease;

  @media #{$mobile} {
    padding: 14px 0;
  }

  /* Add a smooth transition effect */
  &:hover {

    /* Darken the color on hover */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Add a subtle shadow on hover */
  }
}

/* Update the background colors for specific menu items */
.menu a.todo {
  background-color: $background-highlight-yellow;
  border-radius: 0 5px 5px 0;
}

.menu a.calendar {
  background-color: $background-highlight-green;
  border-radius: 0 5px 5px 0;
}

.menu a.habits {
  background-color: $background-highlight-peach;
  border-radius: 0 5px 5px 0;
}

.menu a.timer {
  background-color: $background-highlight-pink;
  border-radius: 0 5px 5px 0;
}

.menu .logout button {
  background-color: $background-highlight-blue;
  border-radius: 0 5px 5px 0;
  padding: 50px 10px;
  cursor: pointer;
  font-family: "Amatic SC", sans-serif;
  border: 0;
  padding: 50px 10px;
  color: $font-color-primary;
}

.menu .logout button i {
  transition: opacity 0.3s ease;
  /* Add a transition for opacity */
}

.menu .logout button:hover i {
  opacity: 0;
  display: none;
  /* Hide the icon on hover */
}

.menu .logout button:hover::after {
  content: "Logout";
  /* Display the text "Logout" on hover */
  font-family: "Amatic SC", sans-serif;
  font-size: $font-size-medium;
  font-weight: 400;
  color: $font-color-primary;
  align-items: center;


}

.menu .logout button:hover {
  background-color: darken($background-highlight-blue, 5%);
}






.body h1 {
  color: $font-color-primary;
}

.wrapper p {
  line-height: 1.5;
  font-size: $font-size-medium;
}

/* style.css */

/* ... Your existing styles ... */

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .main-avatar-wrapper {
    display: none;
    /* Hide avatar on small screens */
  }

  .main-weather-wrapper {
    display: none;
    /* Hide weather app on small screens */
  }

  .wrapper {
    width: 100%;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
  }

  .menu-button-wrapper {
    display: block;
    /* Show the menu button wrapper on small screens */
  }

  .menu {
    /* Hide the menu by default */
    width: 55px;
    position: fixed;
    top: 0;
    height: 100%;
    margin-top: 0px;
    background-color: $background-highlight-blue;
    /* Make sure $background-highlight-blue is defined */
    // overflow-x: hidden;
    transition: width 0.5s ease;
    /* Transition the width property */
    padding-top: 50%;
    z-index: 2;
    /* Set a high z-index for the menu on mobile */

  }

  .menu.show {
    width: 72px;
    /* Set the width of the menu when it's shown */
  }

  .menu a,
  .menu .logout button {
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: $font-color-primary;
    /* Make sure $font-color-primary is defined */
    transition: background-color 0.3s;
  }

  .menu .logout button i {
    transition: opacity 0.3s;
    /* Add a transition for opacity */
  }

  .menu a:hover,
  .menu .logout button:hover {
    background-color: darken($background-highlight-blue, 5%);
    /* Darken the color on hover */
  }

  .menu-button {
    position: fixed;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-radius: 20px 0px 0 20px;
    cursor: pointer;
    z-index: 3;
    /* Set a higher z-index for the menu button */
  }

  .menu-button i {
    color: transparent;
  }

}


/* Media query for larger screens */
@media only screen and (min-width: 601px) {
  .menu-button {
    display: none; /* Hide the menu button wrapper on larger screens */
  }

}