/* style.css */
.index-body {
  background-image: url("/Images/paper-bg.png");
  font-family: "Amatic SC";
  flex-direction: column;
  gap: 1em;
}

#index-h1 {
  font-weight: 700;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: #c2e7ef;
  margin: 0px;
}

.index-avatar-wrapper img {
  max-width: 18em;
  border-radius: 1000px;
}
.index-avatar-wrapper .index-avatar-greeting {
  position: relative;
  left: -3em;
  top: 1em;
  padding: 0.5em;
  background-color: #e9e4fa;
  color: #8a8a8a;
  border-radius: 20px;
  z-index: 1;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 500px) {
  .index-avatar-wrapper .index-avatar-greeting {
    left: 0;
  }
}

.index-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5em;
}

.index-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  padding: 1em 0;
  gap: 2em;
  min-width: 30em;
  border-radius: 20px;
  background-color: #e9e4fa;
}
@media screen and (max-width: 500px) {
  .index-login-container {
    min-width: 95%;
  }
}
.index-login-container input {
  width: 88%;
  border-radius: 20px;
  padding: 1em 2em;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: 700;
  color: #8a8a8a;
  outline: none;
  border: white;
}
.index-login-container .register-button {
  width: 88%;
  padding: 1em;
  border-radius: 20px;
  background-color: #cfdf83;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
}
.index-login-container .register-button:hover {
  background-color: #fe9cb5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.index-login-container .login-button {
  width: 88%;
  padding: 1em;
  border-radius: 20px;
  background-color: #eba08b;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
}
.index-login-container .login-button:hover {
  background-color: #fe9cb5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.index-login-container input:focus {
  border: white;
  outline: none;
}

.bulletjournal-habits {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid #eba08b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: #000000;
}

.bulletjournal-habits h1 {
  font-weight: 700;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: #eba08b;
  margin: 0px;
}

.bulletjournal-habits p {
  font-size: 20px;
}

.habitInfo {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.habitInfo .input {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 75%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
}
.habitInfo .input:hover {
  background-color: #d7cef6;
}
.habitInfo .inputPrio {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 15%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
}
.habitInfo .inputPrio:hover {
  background-color: #d7cef6;
}

#addRoutineButton {
  background-color: #eba08b;
  padding: 0.6em;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: 700;
  width: 95%;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
  margin-top: 15px;
  margin-bottom: 80px;
}
#addRoutineButton:hover {
  background-color: #e78e75;
}

#addRoutineButton:hover {
  background-color: #e29884;
}

.myhabitsheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myhabitsheading h2 {
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px #000000;
  text-align: center;
  font-weight: 700;
  color: #eba08b;
  margin: 0;
}
.myhabitsheading .input {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 3em;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
  padding: 0.2em 1em;
}
.myhabitsheading .input:hover {
  background-color: #d7cef6;
}

.filterPrioSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e9e4fa;
  padding: 5px 20px 5px 20px;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}

.sort-wrapper {
  color: #8a8a8a;
  text-align: right;
}

#sortStreakButton {
  background-color: #e9e4fa;
  padding: 5px 20px 5px 20px;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}

#sortStreakButton:hover {
  background-color: #d7cef6;
}

#sortPriorityButton {
  background-color: #e9e4fa;
  padding: 5px 25px 5px 25px;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}

#sortPriorityButton:hover {
  background-color: #d7cef6;
}

.habitContainer {
  border: 5px solid #e9e4fa;
  border-radius: 20px;
  height: 400px;
  text-align: left;
  overflow-y: auto;
}

.title {
  color: #eba08b;
  text-decoration: underline;
}

.increase {
  border-radius: 50%;
  border: none;
  background-color: #cfdf83;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.increase:hover {
  background-color: #c7da6f;
}

.decrease {
  border-radius: 50%;
  border: none;
  background-color: #eba08b;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.decrease:hover {
  background-color: #e78e75;
}

.reset {
  border-radius: 50%;
  border: none;
  background-color: #c2e7ef;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.reset:hover {
  background-color: #aedfea;
}

.delete {
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.delete:hover {
  color: #ff0000;
}

.habit-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e4fa;
  margin-bottom: 5px;
}

.info-container {
  font-weight: 800;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  /* Adjust the gap as needed */
}

.button-container {
  text-align: left;
}

.button-container2 {
  margin-right: 30px;
}

.main-weather-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 50px;
  color: white;
}

.weather-div {
  background-color: #eba08b;
  color: white;
  width: 16em;
  height: 20em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
}

.weather2day {
  font-size: 36px;
}

.search {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  border: 0;
  outline: 0;
  background-color: #fffffe;
  color: #000;
  height: 28px;
  border-radius: 20px 0 0 20px;
  text-align: center;
}

.search button {
  border: 0;
  outline: 0;
  background-color: #fffffe;
  border-radius: 0 20px 20px 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search button img {
  width: 10px;
}

.weather-icon {
  width: 80px;
}

.temp {
  font-size: 40px;
  font-weight: 500;
  font-family: poppins;
  color: white;
  text-shadow: none;
  margin-top: 15px;
}

.city {
  font-size: 24px;
  font-family: poppins;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.weather {
  display: none;
}

.error {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  display: none;
  color: white;
}

.main-avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  margin-top: 50px;
}
@media screen and (max-width: 500px) {
  .main-avatar-wrapper {
    margin-top: 0;
  }
}
.main-avatar-wrapper img {
  border-radius: 100%;
  width: 15em;
  height: 15em;
}
.main-avatar-wrapper .avatar-greeting {
  background-color: #eba08b;
  border-radius: 20px;
  font-size: 32px;
  padding: 0 0.5em;
  text-align: center;
  font-weight: 700;
  color: white;
  z-index: 0;
  margin-top: -20px;
  max-width: 9em;
}
.main-avatar-wrapper .avatar-greeting #author {
  text-align: right;
}

.timer-h1 {
  font-weight: bolder;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: #feb5c8;
  margin: 0px;
}

.timer-clock-wrapper {
  border-radius: 20px;
  height: 20%;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer-clock-h2 {
  font-family: "Arial";
  font-size: 80px;
}

.timer-start-pause-div {
  display: flex;
  gap: 8px;
  margin: 5px;
}

#start-timer {
  background-color: #feb5c8;
  padding: 10px;
  font-family: "Amatic SC";
  font-size: 32px;
  font-weight: bolder;
  width: 99%;
  border: none;
  border-radius: 20px;
}

#start-timer:hover {
  background-color: #fc8fac;
}

#pause-timer {
  background-color: #feb5c8;
  padding: 10px;
  font-family: "Amatic SC";
  font-size: 32px;
  font-weight: bolder;
  width: 99%;
  border: none;
  border-radius: 20px;
}

#pause-timer:hover {
  background-color: #fc8fac;
}

.timer-end-hide-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#end-timer {
  background-color: #eba08b;
  padding: 10px;
  font-family: "Amatic SC";
  font-size: 32px;
  font-weight: bolder;
  width: 99%;
  border: none;
  border-radius: 20px;
}

#end-timer:hover {
  background-color: #eb8d72;
}

#hide-notepad {
  background-color: #cfdf83;
  padding: 10px;
  font-family: "Amatic SC";
  font-size: 32px;
  font-weight: bolder;
  width: 99%;
  border: none;
  border-radius: 20px;
}

#hide-notepad:hover {
  background-color: #bed161;
}

.timer-img-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bulletjournal-calendar {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid #cfdf83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: #000000;
}

#calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 89%;
}
#calendar .addBtn {
  background-color: #cfdf83;
  padding: 0.6em;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: 700;
  width: 95%;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
}
#calendar .addBtn:hover {
  background-color: #c7da6f;
}
#calendar .input-field {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
#calendar .input-field .input {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 27%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
}
#calendar .input-field .input:hover {
  background-color: #d7cef6;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: #cfdf83;
  margin: 0px;
}

h2 {
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px #000000;
  text-align: center;
  font-weight: 700;
  color: #cfdf83;
}

.event-container {
  border: 5px solid #e9e4fa;
  border-radius: 20px;
  height: 16em;
  text-align: left;
  overflow-y: auto;
  background-color: #e9e4fa;
}

.past .event-title {
  text-decoration: line-through;
  color: gray;
}
.past li {
  text-decoration: line-through;
  color: gray;
}

.event {
  margin: 0.5em;
  font-size: 24px;
  font-weight: 700;
}
.event .event-title {
  margin: 0 0.5em;
}
.event ul {
  margin: 0;
}
.event .delete {
  margin-left: 1em;
}

.bulletjournal-todo {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid #f5ff80;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: #000000;
}

.todo-h1 {
  font-weight: 700;
  font-size: 72px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  color: #f5ff80;
  margin: 0px;
}

.sort-wrapper #sortDeadlineButton, .sort-wrapper #sortTimeButton {
  background-color: #e9e4fa;
  padding: 5px 20px 5px 20px;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  color: #8a8a8a;
  display: inline-block;
}
.sort-wrapper #sortDeadlineButton:hover, .sort-wrapper #sortTimeButton:hover {
  background-color: #d7cef6;
}

.todo-list-div {
  background-color: #e9e4fa;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  text-align: left;
}
.todo-list-div #todo-list-ul {
  margin-top: 0.2em;
}

input[type=button].removeTodo .editTodo {
  background-color: #f5ff80;
}

.todo-h2 {
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px #000000;
  text-align: center;
  font-weight: 700;
  color: #f5ff80;
  margin-bottom: 0.5em;
}

.todo-wrapper {
  display: flex;
}
.todo-wrapper .todo-divider-one {
  text-align: left;
  max-width: 50%;
}
.todo-wrapper .todo-divider-one input {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 80%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
  margin: 0 0 0.3em 0;
}
.todo-wrapper .todo-divider-one input:hover {
  background-color: #d7cef6;
}
.todo-wrapper .todo-divider-two {
  text-align: right;
  max-width: 50%;
}
.todo-wrapper .todo-divider-two input {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 80%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
  margin: 0 0 0.3em 0;
}
.todo-wrapper .todo-divider-two input:hover {
  background-color: #d7cef6;
}
.todo-wrapper .todo-divider-two select {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 90%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
  margin: 0 0 0.3em 0;
}
.todo-wrapper .todo-divider-two select:hover {
  background-color: #d7cef6;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 90%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
  margin: 0 0 0.3em 0;
}
select:hover {
  background-color: #d7cef6;
}

.filter-container select {
  background-color: #e9e4fa;
  color: #8a8a8a;
  font-family: "Amatic SC";
  padding: 15px;
  min-width: 25%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline-color: #d7cef6;
  border-radius: 20px;
  padding: 10px;
}
.filter-container select:hover {
  background-color: #d7cef6;
}

select:focus input:focus select:active input:active {
  outline: none;
  border: none;
}

#add-todo {
  background-color: #eba08b;
  padding: 0.6em;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: 700;
  width: 95%;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
}
#add-todo:hover {
  background-color: #e78e75;
}

#filter-todos {
  background-color: #eba08b;
  padding: 0.6em;
  font-family: "Amatic SC";
  font-size: 20px;
  font-weight: 700;
  width: 95%;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
}
#filter-todos:hover {
  background-color: #e78e75;
}

.todo-remove {
  border-radius: 50%;
  background-color: lightgray;
  border: lightgray;
  height: 25px;
  width: 25px;
}

.todo-edit {
  border-radius: 50%;
  background-color: #cfdf83;
  border: #cfdf83;
  height: 25px;
  width: 25px;
}

.todo-edit:hover {
  background-color: #c6d57c;
}

.todo-remove:hover {
  color: #ff0000;
}

#todo-list-ul li {
  list-style-type: none;
}

body {
  font-family: "Amatic SC", sans-serif;
  background-image: url("images/polkadots-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 500px) {
  body {
    flex-direction: column;
    gap: 1em;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 50%;
}

.menu {
  height: 900px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.menu a,
.menu .logout button {
  text-decoration: none;
  font-size: 32px;
  color: #000000;
  padding: 50px 10px;
  margin-bottom: 10px;
  writing-mode: vertical-lr;
  /* Rotate text vertically */
  transform: rotate(360deg);
  /* Fix for Firefox and Safari */
  transition: background-color 0.3s ease;
  /* Add a smooth transition effect */
}
@media screen and (max-width: 500px) {
  .menu a,
  .menu .logout button {
    padding: 14px 0;
  }
}
.menu a:hover,
.menu .logout button:hover {
  /* Darken the color on hover */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* Add a subtle shadow on hover */
}

/* Update the background colors for specific menu items */
.menu a.todo {
  background-color: #f5ff80;
  border-radius: 0 5px 5px 0;
}

.menu a.calendar {
  background-color: #cfdf83;
  border-radius: 0 5px 5px 0;
}

.menu a.habits {
  background-color: #eba08b;
  border-radius: 0 5px 5px 0;
}

.menu a.timer {
  background-color: #feb5c8;
  border-radius: 0 5px 5px 0;
}

.menu .logout button {
  background-color: #c2e7ef;
  border-radius: 0 5px 5px 0;
  padding: 50px 10px;
  cursor: pointer;
  font-family: "Amatic SC", sans-serif;
  border: 0;
  padding: 50px 10px;
  color: #000000;
}

.menu .logout button i {
  transition: opacity 0.3s ease;
  /* Add a transition for opacity */
}

.menu .logout button:hover i {
  opacity: 0;
  display: none;
  /* Hide the icon on hover */
}

.menu .logout button:hover::after {
  content: "Logout";
  /* Display the text "Logout" on hover */
  font-family: "Amatic SC", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  align-items: center;
}

.menu .logout button:hover {
  background-color: #aedfea;
}

.bulletjournal-timer {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  width: 687px;
  height: 932px;
  background-color: white;
  border-radius: 20px;
  border: 15px solid #feb5c8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 0 50px 50px;
  padding: 20px;
  box-sizing: border-box;
  color: #000000;
}

.body h1 {
  color: #000000;
}

.wrapper p {
  line-height: 1.5;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */